
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url("landscape.jpg");
  background-size: 37cm 25cm;
  color: #270606;
  text-align: center;
}

.title {
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: #470b0bc9;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #406800fb;
  font-size: 2rem;
  gap: 10px;
}

.characters-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.characters img {
  width: 150px;
  height: 150px;
}

#minotaurButton,
#centaurButton {
  background-color: #c6b9c931;
  cursor: pointer;
  padding: 20px;
}

#minotaurButton:hover {
  transform: scale(1.8);
  background-color: rgb(252, 203, 143);
}

#centaurButton:hover {
  transform: scale(1.8);
  background-color: rgb(196, 144, 144);
}

.battle-grid {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  grid-template-rows: repeat(3, 150px);
  gap: 6px;
  justify-content: center;
  margin: 40px auto;
}

.cell {
  background-color: #c6b9c931;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.cell.taken {
  cursor: default;
}

.cell img {
  max-width: 100%;
  max-height: 100%;
}

.cell.fade {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.winner-display {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 20px;
  z-index: 999;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.8s ease-in-out;
}

.winner-display img {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.winner-display img:hover {
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.intro-screen {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: calc(100vh - 70px);
  margin: 0 auto;
  overflow: hidden;
}

.zeus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.lightning-option {
  position: absolute;
  width: 22%; /* made smaller */
  height: 5%;
  cursor: pointer;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.3); /* remove after testing */
}

#vs-player {
  top: 65.5%;
  left: 17%;
}

#easy-ai {
  top: 77.5%;
  left: 39%;
}

#hard-ai {
  top: 71%;
  left: 59%;
}

@media (max-width: 600px) {
  .lightning-option {
    width: 20%;
    height: 8%;
  }
}
